@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #5a5a5a;
  --foreground-font-size: 1.25rem;
}

html {
  font-size: 16px;
}

body {
  color: var(--foreground-hex);
  font-size: var(--foreground-font-size);
}
